/* Global Layout Set-up */ 
* 
{
	box-sizing: border-box;
}  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */
h1{
	background-color: #E2E2E2;
	padding: 5px;
}
h3 {
	color: slategrey;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}
/* Section Styles */

.main-nav {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  border-radius: 5px;
	
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 5px;
  max-width: 1200px;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: #272727;
	padding: 5px;
	margin: 10px;
	font-size: 15pt;
	font-style: normal;
	font-weight: 400;

}
.top-menu {
	display: block;
    margin-right: auto;
    color: #FFFFFF;
	padding: 8px;
	margin-top: 6px;
	background: #272727;
	border-radius: 8px;
}
.nav li {
  padding: 5px 5px 5px 5px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #FB411F
}
.gallery-baner{
	border: medium;
	color: aliceblue;
	background: #272727;
	border-radius: 10px;
	text-align: center;
	text-transform: uppercase;
}
.header-1 {
  text-align: center;
  background: url('images/hawaii.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
 min-height: 470px;
}
.header-2 {
  text-align: center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #FF4018;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}
header .jack-image {
  margin-top: 50px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid #FF4018;
  transition: all .5s;
}
header .jack-image:hover {
  transform: scale(1.2) rotate(5deg);
}
img .img-jack{
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
.name-ocupation{
	border: medium;
	color:aliceblue;
	background: #272727;
	border-radius: 10px;
	text-align: center;
	
}
.tag {
  background-color: #efefef;
  color: #FF4018;
  padding: 10px;
  border-radius: 5px;
  display: inline-table;
  margin: 10px auto;
 
} 
.location {
	background-color: #21A6D8;
	color: floralwhite;
	border: inset thick;
	border-color: #32475F;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 400px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #FB411F;
}

ul.skills {
  padding: 2px;
  text-align: center;
}

.skills li {
  border-radius: 10px;
  display: inline-block;
  background: #FF6242;
  color: ghostwhite;
  padding: 10px 10px;
  margin: 5px;
}

.skills li:nth-child(odd) {
  background: #029EFF;
}
.photos{
	width: 500px;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}
footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
} 
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  
  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
h3 {
	color: slategrey;
	letter-spacing: .5px;
}
.card-title{
	text-align: center;
	border: solid black 1.5px;
	border-radius: 5px;
	margin: 5px;
	padding: 10px;
}
.contact{
	color: #FF4018;	
}
